<?xml version="1.0"?>

<config>
    <modules>
        <Sheep_Debug>
            <version>1.3.0</version>
        </Sheep_Debug>
    </modules>

    <global>
        <models>
            <sheep_debug>
                <class>Sheep_Debug_Model</class>
                <resourceModel>sheep_debug_resource</resourceModel>
            </sheep_debug>
            <sheep_debug_resource>
                <class>Sheep_Debug_Model_Resource</class>
                <entities>
                    <request_info>
                        <table>sheep_debug_request_info</table>
                    </request_info>
                </entities>
            </sheep_debug_resource>
        </models>

        <resources>
            <sheep_debug_setup>
                <setup>
                    <module>Sheep_Debug</module>
                </setup>
            </sheep_debug_setup>
        </resources>

        <blocks>
            <sheep_debug>
                <class>Sheep_Debug_Block</class>
            </sheep_debug>
        </blocks>

        <helpers>
            <sheep_debug>
                <class>Sheep_Debug_Helper</class>
            </sheep_debug>
        </helpers>

        <events>
            <!-- Start of request processing -->
            <controller_front_init_before>
                <observers>
                    <sheep_debug>
                        <type>singleton</type>
                        <class>sheep_debug/observer</class>
                        <method>onControllerFrontInitBefore</method>
                    </sheep_debug>
                </observers>
            </controller_front_init_before>

            <!-- Records all instantiated blocks -->
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <debug_observer>
                        <type>singleton</type>
                        <class>sheep_debug/observer</class>
                        <method>onLayoutGenerate</method>
                    </debug_observer>
                </observers>
            </controller_action_layout_generate_blocks_after>

            <!-- Records rendered block and rendering start time -->
            <core_block_abstract_to_html_before>
                <observers>
                    <debug_observer>
                        <type>singleton</type>
                        <class>sheep_debug/observer</class>
                        <method>onBlockToHtml</method>
                    </debug_observer>
                </observers>
            </core_block_abstract_to_html_before>

            <!-- Records block rendering end time -->
            <core_block_abstract_to_html_after>
                <observers>
                    <debug_observer>
                        <type>singleton</type>
                        <class>sheep_debug/observer</class>
                        <method>onBlockToHtmlAfter</method>
                    </debug_observer>
                </observers>
            </core_block_abstract_to_html_after>

            <controller_action_postdispatch>
                <observers>
                    <debug_observer>
                        <type>singleton</type>
                        <class>sheep_debug/observer</class>
                        <method>onActionPostDispatch</method>
                    </debug_observer>
                </observers>
            </controller_action_postdispatch>

            <!-- Records loaded collections -->
            <core_collection_abstract_load_before>
                <observers>
                    <debug_observer>
                        <type>singleton</type>
                        <class>sheep_debug/observer</class>
                        <method>onCollectionLoad</method>
                    </debug_observer>
                </observers>
            </core_collection_abstract_load_before>

            <!-- Records collection load -->
            <eav_collection_abstract_load_before>
                <observers>
                    <debug_observer>
                        <type>singleton</type>
                        <class>sheep_debug/observer</class>
                        <method>onCollectionLoad</method>
                    </debug_observer>
                </observers>
            </eav_collection_abstract_load_before>

            <!-- Records model load -->
            <model_load_after>
                <observers>
                    <debug_observer>
                        <type>singleton</type>
                        <class>sheep_debug/observer</class>
                        <method>onModelLoad</method>
                    </debug_observer>
                </observers>
            </model_load_after>


            <controller_action_predispatch>
                <observers>
                    <debug_observer>
                        <type>singleton</type>
                        <class>sheep_debug/observer</class>
                        <method>onActionPreDispatch</method>
                    </debug_observer>
                </observers>
            </controller_action_predispatch>

            <!-- last chance to save stuff -->
            <controller_front_send_response_after>
                <observers>
                    <sheep_debug>
                        <type>singleton</type>
                        <class>sheep_debug/observer</class>
                        <method>onControllerFrontSendResponseAfter</method>
                    </sheep_debug>
                </observers>
            </controller_front_send_response_after>
        </events>
    </global>

    <frontend>
        <routers>
            <sheep_debug>
                <use>standard</use>
                <args>
                    <module>Sheep_Debug</module>
                    <frontName>sheep_debug</frontName>
                </args>
            </sheep_debug>
        </routers>

        <layout>
            <updates>
                <sheep_debug>
                    <file>sheep_debug.xml</file>
                </sheep_debug>
            </updates>
        </layout>

        <enterprise>
            <!-- TODO: Update whitelisted actions after module renaming -->
            <websiterestriction>
                <full_action_names>
                    <generic>
                        <debug_index_clearCache/>
                        <debug_index_downloadConfig/>
                        <debug_index_downloadConfigAsText/>
                        <debug_index_searchConfig/>
                        <debug_index_searchGroupedClass/>
                        <debug_index_toggleModuleStatus/>
                        <debug_index_togglePageCacheDebug/>
                        <debug_index_toggleSqlProfiler/>
                        <debug_index_toggleTemplateHints/>
                        <debug_index_toggleTranslateInline/>
                        <debug_index_viewBlock/>
                        <debug_index_viewFilesWithHandle/>
                        <debug_index_viewLog/>
                        <debug_index_viewSqlExplain/>
                        <debug_index_viewSqlSelect/>
                        <debug_index_viewTemplate/>
                    </generic>
                </full_action_names>
            </websiterestriction>
        </enterprise>
    </frontend>

    <!-- adminhtml configuration -->
    <adminhtml>
        <layout>
            <updates>
                <sheep_debug>
                    <file>sheep_debug.xml</file>
                </sheep_debug>
            </updates>
        </layout>
    </adminhtml>

    <crontab>
        <jobs>
            <sheep_debug_delete_expired_requests>
                <schedule>
                    <cron_expr>0 5 * * *</cron_expr>
                </schedule>
                <run>
                    <model>sheep_debug/cron::deleteExpiredRequests</model>
                </run>
            </sheep_debug_delete_expired_requests>
        </jobs>
    </crontab>

    <!-- Default settings -->
    <default>
        <sheep_debug>
            <options>
                <enable>1</enable>
                <persist>1</persist>
                <persist_expiration>1</persist_expiration>
            </options>

            <panels>
                <controller_visibility>1</controller_visibility>
                <models_visibility>1</models_visibility>
                <design_visibility>1</design_visibility>
                <blocks_visibility>1</blocks_visibility>
                <logging_visibility>1</logging_visibility>
                <util_visibility>1</util_visibility>
                <modules_visibility>1</modules_visibility>
                <config_visibility>1</config_visibility>
            </panels>
        </sheep_debug>
    </default>
</config>
