<?xml version="1.0"?>

<config>
    <sections>
        <sheep_debug translate="label" module="sheep_debug">
            <label>Developer Debug Toolbar</label>
            <tab>advanced</tab>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>

            <groups>
                <options translate="label">
                    <label>Options</label>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <enable>
                            <label>Enable Debug Toolbar</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment><![CDATA[Display Debug Toolbar if set to Yes and client's ip is whitelisted in 
                                System / Configuration / Developer / Developer Client Restrictions - Allowed IPS.]]>
                            </comment>
                        </enable>
                        <persist>
                            <label>Persist Request Information</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Allows to view information about previous requests.</comment>
                        </persist>

                        <persist_expiration> 
                            <label>Persisted Request Lifetime (number of days)</label> 
                            <comment>Number of days after which persisted requests are cleared. Requests are not delete if configuration is set to 0.</comment> 
                            <depends>
                                <persist>1</persist>
                            </depends>
                            <frontend_type>text</frontend_type> 
                            <validate>validate-not-negative-number</validate>
                            <sort_order>20</sort_order> 
                             <show_in_default>1</show_in_default> 
                            <show_in_website>0</show_in_website>
                             <show_in_store>0</show_in_store> 
                        </persist_expiration>
                        <force_varien_profile>
                            <label>Enable Varien Profile Dynamically</label>
                            <comment>Starts Varien Profile if is disabled in index.php. In order to capture all events, we recommend to enable Varien Profile manually by editing index.php.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </force_varien_profile>
                        <use_store_locale>
                            <label>Use store locale settings</label>
                            <comment>If enabled we're going to translate toolbar labels.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </use_store_locale>

                        <capture_sql_stacktrace>
                            <label>Capture SQL stack trace</label>
                            <comment>If enabled we can show what code is triggering execution for a specific SQL query.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </capture_sql_stacktrace>

                        <strip_zend_db_traces>
                            <label>Strip Zend Db traces</label> 
                            <comment>When enabled, doesn't display traces related to Zend Db component.</comment> 
                            <depends>
                                <capture_sql_stacktrace>1</capture_sql_stacktrace>
                            </depends>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order> 
                             <show_in_default>1</show_in_default> 
                            <show_in_website>0</show_in_website>
                             <show_in_store>0</show_in_store> 
                        </strip_zend_db_traces>

                        <trim_magento_basedir>
                            <label>Trim Magento base dir</label> 
                            <comment>Trims Magento base dir from file paths that appears in SQL stack trace</comment> 
                            <depends>
                                <capture_sql_stacktrace>1</capture_sql_stacktrace>
                            </depends>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>70</sort_order> 
                             <show_in_default>1</show_in_default> 
                            <show_in_website>0</show_in_website>
                             <show_in_store>0</show_in_store> 
                        </trim_magento_basedir>

                    </fields>
                </options>
            </groups>
        </sheep_debug>
    </sections>
</config>

